.weather-today-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  max-width: 300px;
  width: 100%;

  border-radius: 20px;
  background-color: var(--bg-color-100);
  text-align: center;

  color: var(--font-color-100);
}

.weather-today-inner-temperature-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.weather-today-temp-wrapper {
  margin: 0px;
}

.weather-today-date {
  margin-bottom: 0px;
}

.weather-today-description {
  margin: 5px;
}

.weather-today-temp-wrapper > * {
  margin: 0px;
}

.weather-today-img {
  width: 100px;
  height: 100px;
}

.weather-today-wind-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.weather-today-icon {
  width: 30px;
  height: 30px;
}

@media (min-width: 1475px) {
  .weather-today-wrapper {
    width: 30%;
    min-width: 300px;
    height: 300px;
  }

  .weather-today-inner-temperature-wrapper {
    flex-direction: row;
  }

  .weather-today-temp-wrapper {
    margin: 20px 0px;
  }
}
